/* by flosha */

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;   

  --black: #000;
  --dark: #1f1f1f;
  --darker: #121212;
  --light: #dddddd;
  --light-dirt: #ccb9a5;
  --dirt: #a89775;
  --dark-dirt: #77584b;
  --blood: #844d44;
  --bloodier: #92443d;
  --copper: #9e6f4b;
  --demonic: #855f67;
  --gold: #976b42;
  --fire: #dba37b;
  --swamp: #2b8872;
  --ore: #48a28b;         /* #67ab97; */
  --magic: darkslateblue;
  --mana: #46609e;
  --silver: #aaa;
  --stone: #5b5b5b;
  --link: #96574f;
  --water: #1a2526;

  --gothic-link: #A1BA40; 
  --gothic-link2: #FF0033;
  --gothic-text: #BBB79F;
}

@font-face {
  font-family: "IBM VGA 8x16";
  src: url("assets/fonts/ibm-vga/ibm-vga-8x16.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-size: 16px;
}

@font-face{
  font-family: "Gothic Alpha";
  src: url("assets/fonts/Gothic_alpha_font.ttf") format("truetype");
}

body {
  background: var(--black);
  color: var(--light-dirt); /* before: silver */
  font-family: "Gothic Alpha", monospace;
  font-size: 16px;
  line-height: 1.6; 
  width: 100%;
  min-width: 0;
}


/* WALLPAPER / FRONTPAGE */

.wallpaper {
  background: url("assets/img/bg.jpg") 37% 20% / cover no-repeat;
  image-rendering: pixelated;
  width: 100%;
  min-height: 110vh;
  padding: 0;
  margin: 0;

  opacity: 0;
  animation: fade-in 2s steps(40, end) forwards;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  max-height: 400px;
  max-width: 100%;
  margin: 3% auto;

  opacity: 0;
  animation: fade-in 2s steps(40, end) forwards;
  animation-delay: 1.5s;
}

.slogan {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 500px;
  max-width: 80%;
  max-height: 150px;
  margin: 0 auto 100px;
  font-size: 28px;
  text-shadow: 4px 4px #000;

  opacity: 0;
  animation: fade-in 2s steps(40, end) forwards;
  animation-delay: 2.5s;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


.exe {
  position: absolute; 
  margin: 0;
  padding: 1rem;

  font-family: "IBM VGA 8x16";
  color: #aaa;
}


/* TOP RIGHT NAVI */

header nav .right {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;

  overflow: hidden;
  z-index: 4;

  margin: 0;
  padding: 1rem;

  font-family: "IBM VGA 8x16";
  color: #aaa;
  text-transform: uppercase;

  opacity: 0;
  animation: fade-in 2s steps(40, end) forwards;
  animation-delay: 2.5s;
   
  list-style: none;
}

header nav .right li {
  padding-left: 1em;
}


/* Language Selection */

header nav details {
  font-size: 14px;
  font-family: "Gothic Alpha";
  background-color: var(--black);
  border-radius: 1em;
  padding-top: 0.1em;
  padding-left: 1em;
  padding-right: 0;
}

/* align language list vertically */
header nav details ul  {
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1em;
  list-style: none;
}
  header nav details ul li {
    padding-top: 0.5em;
    margin-left: -0.5em;
    padding-left: 0.5em;
  }

details summary {
  cursor: pointer;
  display: block;
}
  summary:after {
    content: "▼";
    margin-left: 10px;
    color: var(--blood);
  }
    details[open] summary:after {
      content: "▲";
    }


/* ARTICLES */

article {
  margin: 2em 0;
  padding: 2em 7em 4em;

  display: flex;
  flex-wrap: wrap;
  
/* font-family: "IBM VGA 8x16"; */
  font-size: 18px;
  
  min-width: 0;
  gap: 5em;
}

article section { 
  flex: 1; 
  min-width: 300px;
}

article section>p { 
  margin: 1em 0; 
}
  p.subtext {
    font-size: 15px;
    border: 2px solid var(--dark);
    padding: 2em;
    margin-top: 50px;
    background-color: var(--darker);
  }

/* align images vertically in the middle of text */
article img {
  align-self: first baseline;
  margin: 0 auto;
}

/* limit size of nyx sign */
.nyxsign {
  max-width: 500px;
  max-width: 100%;
}




/* IMAGE ROWS */

.gallery {
  display: flex;
  justify-content: center;
  gap: 2%;
}
  .gallery img {
    max-height: 500px;
    max-width: 100%;
    margin: 0;

    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
    .gallery img:hover {
      filter: contrast(105%);
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
    }


/* SOCIAL ICONS */

.social {
  list-style: none;
  padding: 20px 0 12px;
  display: flex; justify-content: center; 
  gap: 45px; margin: 2em auto;
}
  .social img {
    max-height: 20px;
    filter: contrast(80%);
    transition: .3s ease-out;
  }
    .social img:hover {
      transform: scale(1.2);
    }

 
blockquote {
  margin: 5em 0 2em;
  border-left: 10px solid var(--dark);
  padding-left: 1em;
  font-family: "IBM VGA 8x16";
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0; 
  font-size: inherit;
  font-weight: normal;
}
  
h2 {
  display: inline-block;
  margin-top: 0;
  padding: 0.3em 0.4em 0.2em; 

  border: 1px solid var(--blood);
  border-spacing: 15px;
  background: var(--blood);
  color: var(--black);
  font-size: 30px;
  align-self: center;
}

h3 { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  color: var(--fire);
}

hgroup h3 { margin-bottom: 0; }
hgroup p { color: var(--dark-dirt); }

  .story h2 {
    transform: rotate(-90deg);
  }

  .story img {
    display: block;
    max-width: 100%;
    margin: 0 auto 3em;
  }


/* status */

.downloads {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.status {
  min-width: 0;
  font-size: 16px;
  font-family: "IBM VGA 8x16", monospace;
  border: 3px solid var(--dark);
  background: var(--black);
  padding: 0.5em 1em;
  opacity: 0;
  animation: fade-in 2s steps(40, end) forwards;
  animation-delay: 3.5s;
}


/* buttons */

article section:first-child a {
  text-decoration: none;
}

article.story a {
  text-decoration: none;
}

.logo-links {
  margin: 5em 0 1em;
  display: flex;
  justify-content: center;
  gap: 2em;
}
  .logo-links img { 
    max-width: 100%;
    max-height: 250px;
    transition: .3s ease-out;
  }
    .logo-links img:hover {
      transform: scale(1.1);
    }

  .logo-links figcaption {
    text-align: center;
  }

button {
  display: block;
  max-width: 100%;
  max-width: 350px;

  margin: 0 auto 2em;
  padding: 0.5em 1em 0.5em;

  font-size: 20px;
  font-family: "IBM VGA 8x16", monospace;
  color: var(--light-dirt);
  border: 2px solid var(--black);

  box-shadow: 7px 7px var(--darker);
  background: var(--dark);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
    color: var(--light-dirt);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-top: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    background: var(--darker);
    box-shadow: 7px 7px var(--dark);
    transition: all 0.3s ease;
  }

  figcaption button {
    font-size: 0.9vw;
  }


  .mask {
    display: block;
    width: 450px;
    max-width: 100%;
    min-width: 350px;  
    
    margin: 0 auto;
  }


footer>section:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding-top: 2em;
  margin: 0 2em 0;
  justify-content: center;
}

footer>section:last-child section {
  max-width: 350px;
  min-width: 200px;
}

footer {
  margin: 2em 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 18px;
  min-width: 0;

  gap: 2em;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
}

footer h2 {
  max-height: 100px;
  transform: rotate(-90deg);
  align-self: flex-start;
  margin-top: 4em;
}

footer h4 {
  text-align: center;
  font-size: 16px;
  margin-top: 5em;
  font-family: "IBM VGA 8x16";
}

footer h3 {
  margin-top: 2em;
}

code {
  background: var(--dark);
  font-family: monospace;
  padding: 0.2em 0.5em;
  font-size: 14px;
  border-radius: 3px;
}

  footer p {
    margin-bottom: 1em;
    font-family: "IBM VGA 8x16";
  }

  footer ul {
    font-family: "IBM VGA 8x16";
    list-style: none;
  }

  footer ul li::before {
    content: '*';
    padding-right: 0.5em;
  }



/* LINKS AND SELECTION */

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--link);
}

article a {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--blood);
  color: inherit;
}

article a:hover {
  text-decoration-color: var(--ore);
}

::selection {
  background: var(--blood);
  color: var(--black);
}


/* Emphasizing */

article em {
  font-style: normal;
  color: var(--demonic);
}

.subtext em {
  font-style: normal;
  text-decoration: underline;
  color: inherit;
}

strong {
  font-weight: normal;
  color: var(--fire);
}



/* MOBILE & DESKTOP TOGGLE */

@media only screen
and (max-width : 820px) {

  body {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .wallpaper {
    background: url("assets/img/bg.jpg") 37% 20% / cover no-repeat;
    min-height: 90vh;
  }

  .logo {
    margin-top: 7%;
  }

  .mask {
    align-self: center;
  }

  .story h2, footer h2 {
    transform: initial;
  }

 header nav {
    font-size: 15px;
  }


  h2 {
    margin-top: 1em;
    display: block;
    font-size: 7vw;
    text-align: center;
  }

  .slogan {
    margin: 0 auto 150px;
  }

  /* necessary distance on mobile to wallpaper */
  #about {
    margin-top: 80px;
  }

  figcaption button {
    font-size: 3.2vw;
  }

  article { 
    flex-wrap: nowrap; 
    flex-direction: column;
    gap: 2em; 
    max-width: 100%;
    min-width: 0;
    margin: 0;
    padding: 2em 1.2em 3em;
  }
    article img, footer img {
      max-width: 100%;
    }

  footer, footer>section {
    flex-direction: column;
    gap: 0em;
    padding: 0 1.2em;

  }

    footer>section:last-child {
      gap: 0em;
      margin: 0;
      flex-wrap: nowrap;
    }

    footer>section:last-child section {
      max-width: 100%;
    }


    footer h2 {
      margin-top: 0em;
    }
    
    footer nav {
      flex-direction: column;
      gap: 0;
    }

  .gallery {
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: none;
    padding: 30px;
    overflow: auto;
    gap: 30px;
  }
    .gallery img {
      height: 400px;  
      max-width: none;
      padding: 0;
    }

  .social {
    background-color: var(--darker);
    margin: 0;
  }

  p.subtext {
    margin: 40px 0 10px;
  }

}