/* project pitch
   design: lali
   frontend developer: AmProsius */

:root {
  --white: #fff;
  --gray-400: #ccb9a5;
  --gray-500: #a89775;
  --gray-600: #876953;
  --gray-700: #55504a;
  --gray-900: #100f0f;
  --black: #000;
  --blood: #844d44;
  --copper: #8c5f4e;
  --demonic: #855f67;
  --gold: #976b42;
  --ore: #4f6766;
  --silver: var(--gray-400);
  --orange: #f2ad7a;
  --peru: #b27d4d;
}

/* Layout */

/* Layout - Grid */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 100%;
}

/* Content */

/* Content - Reboot */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
  margin: 0;
  background: var(--black);
  line-height: 1.6;
  color: var(--gray-500);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: var(--orange);
}

a:hover {
  color: var(--blood);
}

a:active {
  color: var(--gray-700);
}

/* Content - Typography */

h2 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  letter-spacing: 6px;
  color: var(--blood);
  font-size: .75rem;
  font-weight: normal;
}

h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: var(--peru);
  font-size: 18px;
  font-weight: normal;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* Components */

/* Components - Section */

section {
  display: flex;
  flex-direction: column;
}

.section-body {
  flex: 1 0 auto;
}

section footer {
  flex-shrink: 0;
  background-color: var(--gray-900);
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  color: var(--gray-600);
}

/* Utilities */

/* Utilities - Background */

.bg-dark {
  background-color: var(--gray-900);
}

/* Utilities - Colors */

.text-blood {
  color: var(--blood);
}

.text-copper {
  color: var(--copper);
}

.text-demonic {
  color: var(--demonic);
}

.text-gold {
  color: var(--gold);
}

.text-orange {
  color: var(--orange);
}

.text-ore {
  color: var(--ore);
}

.text-silver {
  color: var(--silver);
}

/* Utilities - Display */

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

/* Utilities - Flex */

.align-items-stretch {
  align-items: stretch;
}

/* Utilities - Sizing */

.w-100 {
  width: 100%;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-100 {
  min-height: 100vh;
}

/* Utilities - Spacing */

.mt-8 {
  margin-top: 4rem;
}

.mr-5 {
  margin-right: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 2.5rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.pt-12 {
  padding-top: 8rem;
}

.pr-0 {
  padding-right: 0;
}

.pb-5 {
  padding-bottom: 2rem;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-2 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.p-5 {
  padding: 2rem;
}

/* Page */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /*background-color: rgba(0, 0, 0, .5);*/
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: var(--silver);
}

.img-brand {
  height: 48px;
}

.icon {
  padding-right: 1rem;
  padding-left: 1rem;
  height: 20px;
  transition: opacity .3s ease-out;
}

.icon:hover {
  opacity: 0.7;
}

.bg-anniversary {
  background: url('img/bg-20thAnniversarySpecial.png') bottom center / cover no-repeat;
}

.bg-xardas {
  background: url('img/bg.png') no-repeat;
}

.img-slogan {
  margin-right: -1rem;
  margin-left: -1rem;
  max-width: 300px;
}

.img-mask {
  max-width: 380px;
}

.img-archive {
  min-width: 120px;
  max-width: 170px;
}

.img-core {
  min-width: 80px;
  max-width: 120px;
}

.gallery img {
  transition: all .3s ease-out;
}

.gallery img:hover {
  filter: brightness(75%);
}

footer {
  color: var(--gray-600);
}