/* project pitch
   design: lali
   frontend developer: AmProsius */

:root {
  --white: #fff;
  --gray-400: #ccb9a5;
  --gray-500: #a89775;
  --gray-600: #876953;
  --gray-700: #55504a;
  --gray-900: #100f0f;
  --black: #000;
  --blood: #844d44;
  --copper: #8c5f4e;
  --demonic: #855f67;
  --gold: #976b42;
  --ore: #4f6766;
  --silver: var(--gray-400);
  --orange: #f2ad7a;
  --peru: #b27d4d;
  --2: #3983ab;
  --4: #a69685;
  --6: #cf9e7d;
  --7: #dda692;
  --11: #9a7a62;
  --12: #876953;
  --16: #9a4c3c;
  --17: #ac2b1f;
  --18: #b45947;
  --20: #19191a;
}

/* Layout */

/* Layout - Grid */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 100%;
}

/* Content */

/* Content - Reboot */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

body {
  margin: 0;
  background: var(--black);
  line-height: 1.6;
  color: var(--gray-500);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

a {
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: var(--orange);
}

a:hover {
  color: var(--blood);
}

a:active {
  color: var(--gray-700);
}

/* Content - Typography */

h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: var(--peru);
  font-size: 18px;
  font-weight: normal;
}

/* Components */

/* Components - Section */

section {
  display: flex;
  flex-direction: column;
}

.section-body {
  flex: 1 0 auto;
}

section footer {
  flex-shrink: 0;
  background-color: var(--gray-900);
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  color: var(--gray-600);
}

/* Utilities */

/* Utilities - Colors */

.text-blood {
  color: var(--blood);
}

.text-copper {
  color: var(--copper);
}

.text-demonic {
  color: var(--demonic);
}

.text-gold {
  color: var(--gold);
}

.text-orange {
  color: var(--orange);
}

.text-ore {
  color: var(--ore);
}

.text-silver {
  color: var(--silver);
}

/* Utilities - Display */

.d-block {
  display: block;
}

/* Utilities - Sizing */

.w-100 {
  width: 100%;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-100 {
  min-height: 100vh;
}

/* Utilities - Spacing */

.mt-8 {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 2.5rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.pt-12 {
  padding-top: 8rem;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

/* Page */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.icon {
  padding-right: 1rem;
  padding-left: 1rem;
  height: 20px;
}

.bg-anniversary {
  background: url('img/bg-20thAnniversarySpecial.png') bottom center / cover no-repeat;
}

.bg-xardas {
  background: url('img/bg.png') no-repeat;
}

.slogan {
  margin-right: -1rem;
  margin-left: -1rem;
  max-width: 300px;
}

.mask {
  max-width: 380px;
}

/* Legacy */

.revo {
  max-height: 25px;
  margin-right: 40px;
}

/* PT/Arch Links on Cover Page */

.ptlink {
  max-width: 200px;
  height: auto;
  margin: -170px 10px 0;
  float: right;
  z-index: 2;
}

.archlink {
  max-width: 170px;
  height: auto;
  margin: -210px 0 0;
  float: right;
  z-index: 2;
}

/* Game Description */

.audio {
  margin-top: 40px;
  margin-bottom: 50px;
}

/* PITCH PAGE */

@media only screen
and (max-width: 1300px) {

  .linkbar {
    padding-top: 15px;
    background: #100f0f;
  }

  .links {
    order: 4;
    margin: -60px 0 0;
  }

  .archive {
    max-width: 250px;
    text-align: center;
    order: 1;
    padding-left: 20px;
  }

  .archive img {
    display: none;
  }

  .nyxcore {
    max-width: 250px;
    text-align: center;
    order: 2;
    z-index: 1;
  }

  .nyxcore img {
    display: none;
  }

  .donate {
    max-width: 250px;
    order: 3;
    margin: 0 0 30px 20px;
  }

  .donate h3 {
    display: none;
  }

}

.press {
  max-width: 300px;
  height: auto;
  margin: 10px 0 10px;
}

.title {
  max-width: 400px;
  height: auto;
  padding: 50px 0 50px;
}

/*
.promotext {
  position: absolute;
  color: #876953;
  padding: 5% 220px;
  max-width: 300px;
  font-size: 26px;
  font-family: arial;
  font-weight: bold;
  text-align: left;
}
*/

details {
  padding: 0.6em 0 0.3em;
}

/* Graphic Adjustments */

.archlink {
  max-width: 130px;
  padding: 20px 60px 0;
}

.phoenixlink {
  padding: 40px 20px 0;
}

#stuff {
  width: 200px;
  box-sizing: border-box;
}

#links {
  width: 200px;
  box-sizing: border-box;
}

/* COLORS */

.nicebeige {
  color: #cf9e7d;
}

.red {
  color: #b45947;
  text-decoration: none;
}

.text1 {
  color: #876953;
}

.orange {
  color: #b27d4d;
}

blockquote {
  /*color: #d1c1ad;*/
  border-left: 3px solid #9a7a62;
  padding-left: 2em;
  margin: 2em 0 2em 0;
}

h2 {
  font-size: 12px;
  letter-spacing: 6px;
  font-weight: normal;
  margin: 100px 0 2em;
  color: #ac2b1f;
  /*text-align: center;*/
}

/* ABOUT */

.initial p::first-line {
  line-height: 100%;
}

.initial p::first-letter {
  color: white;
  background-color: #3983ab;
  font-size: 300%;
  font-weight: bold;
  padding: 0.2em 0.1em;
  margin: 0.2em 0.2em 0 0.1em;
  border: 2px dashed white;
  box-shadow: 0 0 0 .1em #3983ab;
  float: left;
  line-height: 1.5em;
}

.initial p.mittig::first-letter {
  line-height: 1.0em;
  margin: -0.5em 0.2em 0 0.1em;
}

.initial p.links::first-letter {
  margin-left: -1.1em;
}

/* UL List Styles */

.design > li {
  padding-top: 2em;
}

/* LINK BAR */

.linkbar {
  height: auto;
  color: #876953;
  margin: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linkbar h3 {
  padding-top: 15px;
}

.links {
  background: #100f0f;
  width: 140px;
  padding: 60px 30px;
}

.links ul {
  padding: 0;
  list-style: none;
}

.archive {
  background: #100f0f;
  width: 400px;
}

.archive p {
  display: block;
  padding: 0 30px;
}

.archive img {
  float: left;
  padding: 40px 15px;
  max-width: 170px;
}

.nyxcore {
  background: #100f0f;
  width: 400px;
}

.nyxcore p {
  display: block;
  padding: 0 30px 20px;
}

.nyxcore img {
  float: left;
  max-height: 270px;
  padding: 0 30px 20px;
}

.donate {
  background: #100f0f;
  width: 200px;
  float: left;
  padding: 0 30px 30px;
  /*border: 1px solid #876953;
  border-radius: 20px;*/
}

.donate p {
  display: block;
}

.madphoenix {
  height: auto;
  width: 200px;
}

.patreon {
  max-width: 160px;
  height: auto;
}

/* PRESS */

.article {
  padding-left: 35px;
}

/* UTILITY */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid rgb(246, 156, 85);
  margin: 0 auto;
}

/* FOOTER */

.footer {
  background: #000 url('img/footer.jpg') center bottom no-repeat;
  height: 400px;
  margin: -30px auto 0;
  position: relative;
  /* to be under main, but prevents p links */
}

.footer p {
  position: absolute;
  font-size: 11px;
  text-align: center;
  padding-left: 40%;
  bottom: 0;
}

/* LINKS */

a:hover img {
  opacity: 0.7;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
