/* Demo Page Styling */

    body {
      display: flex;
      max-width: 800px;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      /*font-family: monospace;*/
      font-family: verdana, helvetica;
    }
  
    header nav ul {
      padding: 15px 20px;
      display: flex;
      overflow: auto;
      gap: 1.5em;
      font-family: "IBM VGA 8x16";
      color: #aaa;
      text-transform: uppercase;
      list-style: none;
      white-space: nowrap; 
      list-style: none; 
    }
      header nav ul li {
        display: inline-block; 
      }
      
    img {
        max-width: 100%;
    }

    header .version {
        text-align: right;
        margin-top: -50px;
        margin-right: 200px;
        font-size: 2em;
        font-family: "IBM VGA 8x16";
        color: var(--fire);
    }

   .todo {
     color: var(--ore);
     text-align: center; 
   }

    .languages {
        display: flex; 
        justify-content: center;
        gap: 1.5em;
        margin-bottom: 30px;
        font-size: 22px;
        padding: 30px auto; 
        list-style: none;
    }
      
    main {
      display: flex;
      flex-direction: row;
      gap: 2em;
    }

        main>div {
          width: 50%;
        }

        main>div:nth-child(1) ul {
          list-style: none;
        }
        main>div:nth-child(1) li {
          margin-bottom: 25px;
          padding-left: 0;
        }
   
        main>div:nth-child(2) {
          margin-top: 80px;
          margin-bottom: 20px;
        }
          main>div:nth-child(2) ul {
            font-family: "IBM VGA 8x16";
            font-size: 20px; 
          }
            main>div:nth-child(2)>ul li {
              margin-left: 1em;
            }
      
       main p {
         margin-bottom: 25px;
       }
 
    h1 {
        margin-top: 1rem;
        margin-bottom: 1em;
        font-size: 20px;
        /*font-weight: normal;*/
        /*font-family: "IBM VGA 8x16";*/
        color: var(--fire);
        /*text-transform: uppercase;*/
        /*letter-spacing: 3px;*/
    }

    h2 {
        font-size: 1.6em;
        font-weight: normal;
        padding: 3em 0;
        text-align: center;
        max-width: 700px;
    }

    h3 {
        margin: 2em 0 1em;
        color: var(--fire);
    }

    p {
        line-height: 1.4em;
    }

    a:hover {
        color: var(--dark-dirt);
    }

    details {
        margin: 0.5em;
    }

    details summary {
        text-decoration: underline 1px;
    }

    details > summary:hover {
        cursor: pointer;
        color: darkslategrey;
    }

    details > summary {
        color: darkslateblue;;
        list-style-type: '+ ';
    }

    details[open] > summary {
        color: darkslategray;
        list-style-type: '− ';
    }

    strong {
      color: var(--dark-dirt);
    }

    hr {
      height: 0;
      border-top: 1px solid var(--stone); 
      background: var(--stone);
    }

    .note {
       padding: 1em;
       /*border: 5px solid rgb(56, 19, 19);*/
       background: var(--dark); 
       margin-bottom: 2em;
       margin-top: 2em;
       font-size: 14px; 
       font-family: monospace; 
    }

    .progress {
       margin: 50px 0 70px; 
    }
      .progress-title {
        text-align: center;
        text-transform: uppercase;
        font-size: smaller; 
      }
      .progress ul {
        list-style-type: none;
        padding: 0;
      }
        .progress ul li {         /* Bar Border */
          height: 45px; 
          border: 2px solid var(--dark);
          border-radius: 7px; 
          padding: 2px;
          margin: 5px 10px;
        }
        .progress ul li div {     /* Bar */
          display: flex; 
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /*background: #a93031;*/
          border-radius: 4px;
          height: 100%;
          color: white;
          font-family: monospace;
          font-size: 14px;
          white-space: nowrap; 
          padding-left: 20px;
          padding-right: 20px;
        }   
          .progress .world { background: linear-gradient(to right, var(--ore), #a93031); width: 45%; }
          .progress .story { background: linear-gradient(to right, #a43839, #385091); width: 10%; align-items: flex-start; }
          .progress .armors { background: linear-gradient(to right, #885c4b, #8a4238); width: 50%; }
          .progress .monsters { background: linear-gradient(to right, #5b355b, #885c4b); width: 75%; }
          .progress .items { background: linear-gradient(to right, #35744d, #5b355b); width: 35%; }
          .progress .engine { background: linear-gradient(to right, #414141, #34456e); width: 15%; align-items: flex-start; }

    footer {
      font-family: "IBM VGA 8x16";
      padding: 40px 20px 20px;
      margin-top: 50px;
      border-top: 1px solid var(--stone); 
    }
     footer p {
       margin-bottom: 1em; 
     }

    @media only screen
    and (max-width : 820px) {
 
      body {
        max-width: 100%;
      }
 
      main {
        flex-direction: column; 
        padding: 0 10px 0;
      }
        main div {
          width: auto; 
        }
        main div:nth-child(2) {
          margin-top: 30px;
        }

      header nav {
        font-size: 20px; 
        background: var(--dark);
        margin-bottom: 20px; 
      }

      header nav ul a:link {
        text-decoration: none; 
      }
   
      header .version {
        margin-top: -20px;
        margin-right: 80px;
      }

      h1 {
        text-align: center; 
      }

      h2 {
        font-size: 1.4em; 
        padding: 1.8em 20px 2.5em;
        text-align: initial;
      }

      .languages {
        /* background: var(--dark); */
        border-top: 1px solid var(--stone); 
        border-bottom: 1px solid var(--stone); 
      }   
        .languages a:link {
          text-decoration: none;
        } 
    }
