@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background: #000 url('img/xardas.png');
  background-position-x: 50%;
  background-repeat: no-repeat;
  /*color: #baa898;*/
  color: #7a6d63;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5em;
  margin: 0 auto 10em;
  font-size: 14px;
  max-width: 600px;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

header {
  max-width: 400px;
  margin: 7em auto 2em;
}

h1, h2, h3 {
  text-align: center;
  font-size: inherit;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0 0 3em;
  /*color: #ac2b1f;*/
}


.head {
  padding: 5em 0 0;
}

main {
  margin: 0;
  padding: 10px 40px 50px;
}

ul {
  padding-left: 0;
  list-style: none;
}

p {
  text-align: justify;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


blockquote {
  padding-left: 1.5em;
  margin-left: 0em;
  border-left: 10px solid #876953;
}

img {
  max-width: 100%;
  height: auto;
}

/* LINKS */

a:link { color: #ac876d; }
a:visited { color: #ac876d; }
a:active { color: #505a53; }
a:hover { color: #e4d7cc; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
